<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256981910956-2gv8km17nh0q7mvlqqahaj7ake7jol0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256981910956-2gv8km17nh0q7mvlqqahaj7ake7jol0g</string>
	<key>API_KEY</key>
	<string>AIzaSyBtt6QKaOhFTGaP0vqGUB2Rm-vt61YzMz4</string>
	<key>GCM_SENDER_ID</key>
	<string>256981910956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>learning-dart-43c90</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-dart-43c90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256981910956:ios:22db2cbfb4f309f9eb6609</string>
</dict>
</plist>